{
  "extends": ["taro/react"],
  "rules": {
    "quotes": ["error", "double",  { "avoidEscape": true, "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": 0
  }
}
